---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import rt1 from '../images/rt1.jpg';
---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bold Origins. Refined Indulgence.</h1>
			<p>
				Ripeful Trading brings the depth and intensity of Southeast Asia’s most iconic flavors into a new world of modern desserts—where bold meets elegant, and curiosity becomes indulgence.
			</p>
			<h1>Our Story</h1>

<Image src={rt1} alt="Malaysia cendol" />
			<p>
				Ripeful Trading was born from a simple belief:</br>
				some of the world’s most extraordinary flavors are still waiting to be understood.
			</p>
			<p>
				In Southeast Asia, flavor is unapologetically bold—layered, complex, and deeply expressive. Yet beyond the region, these tastes are often seen as unfamiliar or overwhelming.
			</p>
			<p>
				Rooted in Malaysian heritage and guided by a global perspective, Ripeful Trading exists to bridge that gap. We carefully source and reinterpret distinctive ingredients—like Musang King durian and other tropical profiles—through a refined, contemporary lens.
			</p>
			<p>
				This is not about softening tradition.</br>
				It’s about elevating it.
			</p>
			<p>
				Through thoughtful craftsmanship and modern dessert forms, we transform intensity into balance, and unfamiliarity into discovery.
			</p>
			<p>
				Every creation under Ripeful Trading carries this philosophy—
				bringing you closer to flavors that are rich in culture, yet designed for a new generation of taste.
			</p>
			</main>
		<Footer />
	</body>
</html>
